html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  color: black;
}

#modal {
  display: none;
  background-color: rgba(0,0,0,.3);
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
}

#modal {
}

#modal-inner {
  margin: auto;
  background-color: white;
  width: 100%;
  height: 50%;
  box-shadow: 0px 15px 30px rgba(0,0,0,.4) !important;
  border-radius: 5px;
  max-width: 622px;
  background-image: url(https://static1.squarespace.com/static/5829fe748419c24bb271b76f/t/5b8dc18a40ec9a2651f05c27/1536016778156/menu.png);
  background-repeat: repeat-x;
  background-size: 22px;
}

#modal-center{
  padding: 22px;
}

#left-side {
  width: 66%;
  display: inline-block;
}

#sketch-holder {
  position: relative;
  padding-top: 100%;
  cursor: crosshair;
}

#input-centered {
  /* position: absolute; */
  height: 100%;
  width: 100%;
  cursor: default;
}

#input-holder {
  position: absolute;
  width: 100%;
  height: 100%;
}

#swatch-holder {
  width: 80%;
  display: flex;
  margin-right: auto;
}

.swatch {
  display: inline-block;
  margin-right: 15px;
  background-color: white;
  width: 12%;
  padding-top: 12%;
  outline-offset: -1px;
  cursor: pointer;
}

.swatch:hover {
  opacity: 0.8 !important;
  background-color: red;
}

#sketch-border {
  padding: 20px;
  background-color: black;
}

#right-side {
  display: inline-block;
  position: relative;
  float: right;
  width: 34%;
}

#preview-image {
  position: absolute;
  top: 34.5%;
  right: 45.5%;
  width: 12.5%;
  padding-top: 13.25%;
  background-size: 100% 100%;
  background-color: black;
  z-index: 2;
}

#sock-image {
  max-width: none;
  width: 108%;
  position: relative;
  margin-top: 8%;
}

#control-holder {
  display: flex;
  width: 100%;
}

.control {
  /* background-color: red; */
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

#brush-size-holder {
  position: relative;
  display: flex;
}

#clear-button {
  margin: auto;
}

#bottom-row {
  display: flex;
  margin-top: 15px;
}

.brush-size {
  font-size: 35px;
  display: flex;
  padding: 0px 10px 0px 10px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.swatch, .brush-size, .control {
  user-select: none;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
-o-user-select: none;
}


/* Dynamicly generated class */
#clear-button:hover, #save-button:hover, .undo-on:hover, .brush-size-on:hover {
  color: #e43a4c;
}

#undo-button {
  opacity: .2;
}

@media only screen and (max-width: 600px) {
  #left-side {
    width: 100%;
    display: inline-block;
  }
  #right-side {
    display: none;
  }
}
