body {
  font-family: 'Source Sans Pro', sans-serif;
}

canvas{
  border: 1px solid darkgrey;
}

button {
  border-radius: 5px;
  padding: 10px;
  background-color: #f6f6f6;
  border: solid 1px #c6c5c5;
  cursor: pointer;
}

button:active {
  background-color: #e3e3e3;
}

button, button:active, button:hover, button:focus {
    outline: none;
}

#header{
  margin-top: 20px;
  margin-bottom: 20px;
}

#left-side {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  color: black;
  background-color: lightgrey;
  border-radius: 5px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, .4) !important;
  width: 66%;
  display: inline-block;
}


#right-side {
  display: inline-block;
  position: relative;
  float: right;
  width: 34%;
}

#sketch-border {
  padding: 20px;
  background-color: black;
}

#sketch-holder {
  position: relative;
  padding-top: 100%;
  cursor: crosshair;
}

#sketch {
  position: absolute;
  width: 100%;
  height: 100%;
}

.control-holder {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  position: relative;
}

.active-color {
  position: absolute;
  top: 0;
  border-radius: 100%;
  margin-top: 8%;
  margin-left: 8%;
  width: 84%;
  padding-top: 84%;
  box-shadow:
    inset 0px 0px 0px 2.5px rgba(230,230,230, 1),
    inset 0px 0px 0px 3.5px rgba(100,100,100, .2),
    0px 0px 0px 1px rgba(100,100,100, .2);
}

#menu-holder{
  background-image: url(https://static1.squarespace.com/static/5829fe748419c24bb271b76f/t/5b8dc18a40ec9a2651f05c27/1536016778156/menu.png);
  display: flex;
  background-size: auto 100%;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.menu-button{
  text-align: center;
}


#load-save{
  margin-left: auto;
}

#load-button {
  margin-right: -1px;
}

#swatch-holder{
  display: flex;
  margin-top: 20px;
  position: relative;
}


#swatches {
  position: relative;
  width: 65%;
  font-size: 0;
}

.swatch {
  display: inline-block;
  width: 12%;
  padding-top: 12%;
  margin-right: 4%;
  background-color: white;
  cursor: pointer;
  position: relative;
  /* removes spacing from inline block */
  border-radius: 100%;
}


#brushes{
  position: relative;
  width: 30%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  text-align: center;
  /* removes spacing from inline block */
  font-size: 0;
}

.brush {
  font-size: 1em;
  display: inline-block;
  width: 20%;
  padding-top: 20%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: #f6f6f6;;
  text-align: center;
  cursor: pointer;
}


.swatch:hover {
  opacity: 0.8 !important;
}

#tool-holder{
  margin-bottom: 20px;
  display: flex;
}


.tool, .modifier{
  margin: auto;
  cursor: pointer;
}


.swatch, .brush-size, .control {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}


#undo-button {
  opacity: .2;
}

#load-button {
  opacity: .2;
}

#preview-image {
  position: absolute;
  top: 34.5%;
  right: 45.5%;
  width: 12.5%;
  padding-top: 13.25%;
  background-size: 100% 100%;
  background-color: black;
  z-index: 2;
}

#sock-image {
  max-width: none;
  width: 108%;
  position: relative;
  margin-top: 8%;
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  #left-side {
    width: 100%;
    display: inline-block;
  }
  #right-side {
    display: none;
  }
}
